<ngx-spinner
    bdColor="rgba(255,255,255,0.7)"
    color="#333333"
    type="timer"
>
    <h3>Loading...</h3>
</ngx-spinner>

<app-nav-bar></app-nav-bar>

<div class="container">
    <div class="col-12">
        <div class="row">
            <div *ngIf="client_env !== 'prod'" style="z-index: 99999; position: absolute; text-align: center;">
                <p>ENV: {{client_env}}</p>
            </div>
        </div>
    </div>
</div>

<app-section-header></app-section-header>

<div class="mt-2">
    <router-outlet></router-outlet>
</div>